PORT=9090
DB_URL_GRAPHQL=http://localhost

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=clinica_node

MONGO_URL=mongodb://127.0.0.1:27017
MONGO_DATABASE=clinica_node

SECRETORPRIVATEKEY=clave_super_secreta_recuperacion_node
